extends layout
block content
    .container(data-ng-controller="ToDoController")
        form(role="form", name="form")
            .form-group
                .row
                    .col-md-12.col-xs-12
                        input#btnSubmit.btn.btn-primary.pull-right(type="submit", name="save", value="Save", data-ng-click="save()", data-ng-show="form.$valid") 
                        .btn-group.pull-left
                            button.btn.dropdown-toggle(data-toggle="dropdown", data-ng-class="priorities.background(priority)") Priority <span class="caret"></span>
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="#", data-ng-repeat="priority in priorities.map", data-ng-click="setPriority($index)")
                                        i.fa.fa-certificate.dropdown-icon(data-ng-class="priorities.foreground($index)") 
                                        | {{priorities.description($index)}}          
            .form-group
                .row
                    .col-md-12.col-xs-12
                        input.form-control(type="text", placeholder="Enter what to do", required, data-ng-model="newItemText")

                    
        .row.todo-lists
            .col-md-6.col-xs-6.todo-list(data-ng-repeat="priority in priorities.map", data-ng-class="priorities.background($index)", data-ng-click="")
                a(data-ng-href="#{{priority.short}}")
                    h4 {{priorities.description($index)}}
                .row(data-ng-repeat="item in items[$index] | limitTo:5")
                    .col-md-9.col-xs-9
                        label {{item.text}}
                    .col-md-3.col-xs-3(data-ng-click="delete(item)")
                        button.close &times;
block scripts
    script(type="text/javascript", src="/javascripts/application.js")